*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header {
    border: 2px solid #000;
    height: auto;
    width: auto;
    background: #fccb90;
    color: #fff;
     
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

header p{
    margin-top: 15px;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 15px;
    
}

.preview {
    width: 600px;
    /* Fixed width */
    height: 300px;
    /* Fixed height */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    overflow-y: auto;

    overflow: visible;
    /* Disable vertical scrolling */
    /* white-space: nowrap; */
    /* Prevent content from wrapping */
    border: 1px solid #ccc;
    scroll-behavior: smooth;
}

.topBar{
    text-align: end;
    padding: 5px;
    margin-right: 10px;
    
}

.topBar a{
    padding: 5px;
    color: yellow;
}

.topBar a:hover{
    padding: 5px;
    color: white;
    border: 2px solid white;
}